Source: libvirt
Section: libs
Priority: optional
Maintainer: Debian Libvirt Maintainers <pkg-libvirt-maintainers@lists.alioth.debian.org>
Uploaders: Guido Guenther <agx@sigxcpu.org>
Build-Depends: cdbs (>= 0.4.43), debhelper (>= 5.0.38), libxml2-dev, libncurses5-dev, libreadline5-dev, zlib1g-dev, libgnutls-dev, python-all-dev (>= 2.3.5-11), python-central (>= 0.5.6), quilt, libavahi-client-dev, libsasl2-dev, libxen-dev [i386 amd64],lvm2, qemu, libpolkit-dbus-dev
XS-Python-Version: current
Vcs-Git: git://git.debian.org/git/pkg-libvirt/libvirt.git
Vcs-Browser: http://git.debian.org/?p=pkg-libvirt/libvirt.git
Homepage: http://libvirt.org
Standards-Version: 3.7.3

Package: libvirt-bin
Architecture: any
Depends: ${shlibs:Depends}, adduser
Enhances: qemu, kvm, xen
Section: admin
Recommends: netcat-openbsd
Suggests: dnsmasq, bridge-utils, policykit
Description: the programs for the libvirt library
 Libvirt is a C toolkit to interract with the virtualization capabilities
 of recent versions of Linux (and other OSes). The library aims at providing
 a long term stable C API for different virtualization mechanisms. It currently
 supports QEMU, KVM, and XEN.
 .
 This package contains the supporting binaries to use with libvirt

Package: libvirt0
Architecture: any
Depends: ${shlibs:Depends}
Recommends: lvm2, qemu
Description: library for interfacing with different virtualization systems
 Libvirt is a C toolkit to interract with the virtualization capabilities
 of recent versions of Linux (and other OSes). The library aims at providing
 a long term stable C API for different virtualization mechanisms. It currently
 supports QEMU, KVM, and XEN.

Package: libvirt-doc
Architecture: all
Section: doc
Description: documentation for the libvirt library
 Libvirt is a C toolkit to interract with the virtualization capabilities
 of recent versions of Linux (and other OSes). The library aims at providing
 a long term stable C API for different virtualization mechanisms. It currently
 supports QEMU, KVM, and XEN.
 .
 This package contains the documentation.

Package: libvirt-dev
Architecture: any
Section: libdevel
Depends: libvirt0 (= ${binary:Version}), libxen-dev [i386 amd64]
Description: development files for the libvirt library
 Libvirt is a C toolkit to interract with the virtualization capabilities
 of recent versions of Linux (and other OSes). The library aims at providing
 a long term stable C API for different virtualization mechanisms. It currently
 supports QEMU, KVM, and XEN.
 .
 This package contains the header files and static libraries which are
 needed for developing the applications with libvirt.

Package: python-libvirt
Architecture: any
Depends: ${shlibs:Depends}, ${python:Depends}
Provides: ${python:Provides}
Section: python
XB-Python-Version: ${python:Versions}
Description: libvirt Python bindings
 Libvirt is a C toolkit to interract with the virtualization capabilities
 of recent versions of Linux (and other OSes). The library aims at providing
 a long term stable C API for different virtualization mechanisms. It currently
 supports QEMU, KVM, and XEN.
 .
 This package contains Python bindings for the libvirt library

