#!/usr/bin/make -f

DEB_PYTHON_SYSTEM=pycentral
DEB_DH_INSTALL_SOURCEDIR = debian/tmp

ifneq (,$(findstring $(DEB_HOST_ARCH), i386 amd64))
  BUILD_XEN=--with-xen
else
  BUILD_XEN=--without-xen
endif

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/class/python-distutils.mk
include /usr/share/cdbs/1/rules/patchsys-quilt.mk

CFLAGS+=-std=c99

DEB_CONFIGURE_EXTRA_FLAGS :=     \
	--disable-rpath          \
	--with-qemu              \
	--without-openvz         \
	--with-avahi             \
	--with-sasl              \
	--without-polkit	 \
        --without-storage-fs     \
        --with-storage-lvm       \
        --with-storage-iscsi     \
        --with-storage-disk      \
	--with-init-scripts=none \
	--enable-debug		 \
	$(BUILD_XEN)

DEB_DBG_PACKAGES = libvirt0-dbg
DEB_DBG_PACKAGE_libvirt0 = libvirt0-dbg
DEB_PYTHON_SETUP_CMD := /dev/null
DEB_DH_MAKESHLIBS_ARGS_libvirt0 += -V 'libvirt0 (>= 0.4.1)'
DEB_DH_INSTALLINIT_ARGS := --no-restart-on-upgrade

EXAMPLES=debian/libvirt-doc/usr/share/doc/libvirt-doc/examples/

binary-install/libvirt-doc::
	cd $(EXAMPLES) && rm -rf .libs *.o info1 suspend ../html/CVS

redo-patches::
	rm -f debian/patches/*
	git format-patch -N -o debian/patches master...patch-queue | \
		sed -e 's%debian/patches/%%' > debian/patches/series
