#!/usr/bin/make -f

DEB_PYTHON_SYSTEM=pycentral
DEB_DH_INSTALL_SOURCEDIR = debian/tmp

ifneq (,$(findstring $(DEB_HOST_ARCH), i386 amd64))
  XEN_LIBDIR=/usr/lib/xen-3.1-1/lib/
  LDFLAGS+=-L$(XEN_LIBDIR) -Wl,-rpath -Wl,$(XEN_LIBDIR)
  BUILD_XEN=--with-xen
else
  BUILD_XEN=--without-xen
endif

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/class/python-distutils.mk
include /usr/share/cdbs/1/rules/patchsys-quilt.mk

DEB_CONFIGURE_EXTRA_FLAGS := --with-qemu --without-openvz $(BUILD_XEN) --with-avahi
DEB_PYTHON_SETUP_CMD := /dev/null
